@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219.9988 11.1749% 94.701%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 216.3869 40.1582% 45.8889%;
    --primary-foreground: 219.9988 11.1749% 94.701%;
    --secondary: 223.2016 42.3499% 65.296%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 222.9711 99.0634% 84.3248%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 222.9711 99.0634% 84.3248%;
    --accent-foreground: 223.8136 0% 9.0527%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 222.9711 99.0634% 84.3248%;
    --chart-1: 222.9711 99.0634% 84.3248%;
    --chart-2: 223.2016 42.3499% 65.296%;
    --chart-3: 216.3869 40.1582% 45.8889%;
    --chart-4: 223.6587 78.718% 47.8635%;
    --chart-5: 226.5426 70.0108% 39.9224%;
    --sidebar: 223.8136 0.0004% 98.0256%;
    --sidebar-foreground: 223.8136 0% 3.9388%;
    --sidebar-primary: 223.8136 0% 9.0527%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0002% 96.0587%;
    --sidebar-accent-foreground: 223.8136 0% 9.0527%;
    --sidebar-border: 223.8136 0.0001% 89.8161%;
    --sidebar-ring: 223.8136 0% 63.0163%;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
